$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeDurationDelay: 0.15s;
$easeDurationPrimary: 0.45s;
$easeDurationSecundary: 0.75s;

body {
    background-color: #d4dbe3;

    font-family: 'Playfair Display', serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2.25em;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    position: relative;
    left: 0.3em;
    z-index: 1;

    padding-top: 150px;

    color: #fff;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    text-shadow: 10px 10px 60px rgba(0,0,0,.5);
    letter-spacing: 0.6em;
}

h2 {
    display: inline-block;

    padding: 40px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;

    letter-spacing: 0.7em;
}

h4 {
    margin-top: 20px;

    color: #a37851;
}

h3 {
    position: relative;
    display: inline-block;

    margin: 15px auto;

    color: #2d3a4b;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 2em;

    &,     &:after {
        border-top: 1px solid #2d3a4b;
    }

    &,     &:before {
        border-bottom: 1px solid #2d3a4b;
    }

    &:after,     &:before {
        position: absolute;
        display: block;
        right: 0;
        left: 0;

        height: 1px;
        width: 80%;
        margin: auto;

        content: '';
    }

    &:after {
        bottom: -6px;
    }

    &:before {
        top: -6px;
    }
}

.shadow {
    box-shadow: 5px 5px 80px rgba(45, 58, 75, .4);
}

.wrapper {
    position: relative;

    max-width: 700px;
    margin: 120px auto;
}

.wrapper__bg {
    position: absolute;
    right: 0;
    left: 0;

    height: 100%;
    width: 550px;
    margin: auto;

    background-color: #2d3a4b;
}

header {
    color: #fff;
}

.header__content {
    position: relative;
    left: 120px;

    width: 470px;
    padding: 60px;

    background-color: #636b72;
    p{
        position: relative;
    }
}

.block {
    position: relative;

    height: 400px;
    margin: 200px 0;
}

.block__bg {
    position: absolute;
    left: 0;

    height: 340px;
    width: 90%;

    background-color: #bbc455;

    transition-duration: $easeDurationPrimary;
    transition-property: width left;
    transition-timing-function: $easeInOutCubic;
}

.block__content {
    position: absolute;
    top: 0;
    left: 200px;

    height: 250px;
    width: 400px;
    overflow: hidden;

    background-color: #fff;

    transition-duration: $easeDurationPrimary;
    transition-property: left;
    transition-timing-function: $easeInOutCubic;
}

.block__content__container {
    height: 100%;
    max-width: 250px;
    opacity: 0;
    margin-left: 40px;

    text-align: center;

    transition-duration: $easeDurationPrimary;
    transition-property: opacity;
    transition-timing-function: $easeInOutCubic;
}

.block__image {
    position: absolute;
    top: -25px;
    right: 0;

    height: 300px;
    width: 500px;

    background: url(/images/slmf-manganecio.png) no-repeat scroll 0 center #a37851;
    background-size: auto 190%;

    transition-duration: $easeDurationSecundary, $easeDurationPrimary;
    transition-property: background width;
    transition-timing-function: $easeInOutCubic;
}

.visible {
    .block__bg,    .block__content,    .block__image,    .block__content__container {
        transition-delay: $easeDurationDelay;
    }

    .block__bg {
        left: 40px;

        width: 100%;
    }

    .block__content {
        left: 0;
    }

    .block__image {
        width: 350px;

        background-position: -20px 50%;
    }

    .block__content__container {
        opacity: 1;
    }
}