$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeDurationDelay: 0.15s;
$easeDurationPrimary: 0.45s;
$easeDurationSecundary: 0.75s;

body{
    font-family: 'Playfair Display', serif;
    background-color: #d4dbe3;
    letter-spacing: 0.1em;
    line-height: 2.25em;
    font-size: 12px;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

h1{
    text-align: center;
    font-size: 110px;
    font-weight: bold;
    letter-spacing: 0.6em;
    left: 0.3em;
    color: #fff;
    position: relative;
    padding-top: 150px;
    text-shadow: 10px 10px 60px rgba(0,0,0,.5);
    z-index: 1;
}
h2{
    letter-spacing: 0.7em;
    padding: 40px 0;
    display: inline-block;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
}
h4{ 
    color: #a37851;
    margin-top: 20px;
}  
h3{
    display: inline-block;
    color: #2d3a4b;
    font-size: 30px;
    line-height: 2em;
    letter-spacing: .25em;
    margin: 15px auto;
    position: relative;
    &, 
    &:after{
        border-top: 1px solid #2d3a4b;
    }
    &, 
    &:before{
        border-bottom: 1px solid #2d3a4b;
    }
    &:after, 
    &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            height: 1px;
    }
    &:after{
        bottom: -6px;
    }
    &:before{
        top: -6px;
    }
}
.shadow{
    box-shadow: 5px 5px 80px rgba(45, 58, 75, .4);
}
.wrapper{
    max-width: 700px;
    margin: 120px auto;
    position: relative;
}
.wrapper__bg{
    position: absolute;
    height: 100%;
    width: 550px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #2d3a4b;
}
header{
    color: #fff;
}
.header__content{
    padding: 60px;
    position: relative;
    left: 120px;
    background-color: #636b72;
}
.block{
    position: relative;
    margin: 200px 0;
    height: 400px;
}
.block__bg{
    background-color: #bbc455;
    height: 340px;
    width: 90%;
    left: 0;
    position: absolute;
    transition-property: width left;
    transition-duration: $easeDurationPrimary;
    transition-timing-function: $easeInOutCubic;
}
.block__content{
    background-color: #fff;
    width: 400px;
    height: 250px;
    top: 0;
    left: 200px;
    position: absolute;
    overflow: hidden;
    transition-property: left;
    transition-duration: $easeDurationPrimary;
    transition-timing-function: $easeInOutCubic;
}    
.block__content__container{
    text-align: center;
    max-width: 250px;
    height: 100%;
    margin-left: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: $easeDurationPrimary;
    transition-timing-function: $easeInOutCubic;
}    
.block__image{
    width: 500px;
    height: 300px;
    position: absolute;
    top: -25px;
    right: 0;
    background: url(https://pixabay.com/static/uploads/photo/2016/01/09/18/28/old-1130743_960_720.jpg) no-repeat scroll 0 center #a37851;
    background-size: auto 130%;
    transition-property: background width;
    transition-duration: $easeDurationSecundary, $easeDurationPrimary;
    transition-timing-function: $easeInOutCubic;
 }   
.visible{
    .block__bg,
    .block__content,
    .block__image,
    .block__content__container{
        transition-delay: $easeDurationDelay;
    }
    .block__bg{
        left: 40px;
        width: 100%;
    }
    .block__content{
        left: 0;
    }
    .block__image{
        width: 350px;
        background-position: -20px 50%;
    }
    .block__content__container{
        opacity: 1;
    }
}