@include keyframes(stretchdelay) {
    0%, 40%, 100% {
        @include transform(scaleX(0.8));

        background-color: #ccc;
        box-shadow: 0 0 0 rgba(10,10,10,.1);
    }

    20% {
        @include transform(scaleX(1));

        background-color: #b2b2b2;
        box-shadow: 0 5px 6px rgba(10,10,10,.4);
    }
}
@include keyframes(stretch) {
    0% {
        @include transform(scaleX(0.8));

        top: 25px;

        height: 20px;

        background-color: #ccc;
        box-shadow: 0 0 0 rgba(10,10,10,.1);
    }

    90%, 100% {
        @include transform(scaleX(1));

        top: -5px;

        height: 100%;

        background-color: #636b72;
        box-shadow: 0 5px 6px rgba(10,10,10, 0);
    }
}
@include keyframes(open) {
    0% {
        top: 0;

        height: 80px;
        width: 100px;
    }

    100% {
        top: 240px;

        height: 100%;
        width: 550px;
    }
}

.spinner {
    position: fixed;
    top: 0;
    z-index: 2;

    opacity: 1;

    background-color: white;
}

.spinner__content {
    height: 80px;
    width: 100px;
}

.spinner__line {
    position: absolute;
    display: block;

    height: 20px;
    width: 100%;
    margin: 5px 0;

    background-color: #ccc;
}

.spinner--open {
    .spinner__line {
        @include animation(stretchdelay 1.2s infinite $ease-in-out-quart);

        &:nth-child(2) {
            @include animation-delay(-1s);

            top: 25px;
            z-index: 1;
        }

        &:nth-child(3) {
            @include animation-delay(-2s);

            top: 50px;
        }
    }
}

.spinner--close {
    @include transition(opacity 0.75s $ease-in-out-quart 0.9s, background-color 0.45s $ease-in-out-quart 0.45s);
    opacity: 0;
    background-color: #d4dbe3;

    .spinner__content {
        @include animation(open 0.45s 1 $ease-in-out-quart);
        @include animation-fill-mode(forwards);
        @include animation-delay(0.45s);
    }

    .spinner__line {
        &:nth-child(2) {
            @include animation(stretch 0.45s 1 $ease-in-out-quart);
            @include animation-fill-mode(forwards);
        }

        &:nth-child(1),    &:nth-child(3) {
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
    }
}

.js-loading {
    overflow: hidden;
}